
@charset "utf-8";
/* CSS Document */



h1{color:yellow}

header{background-image:url(logo.jpg);background-color:yellow;
		width:200px;height:900px;}



span { width: 150px; }

hr { clear: both; }

a {
 color: #0000FF;
 text-decoration: none;
}
a:hover {
 text-decoration: underline;
}

#menu ul{ list-style-type:none; }


#menu li{ display:inline; }

#menu a {
 float:left;
 width:100px;
 text-decoration:none;
 color:white;
 font-weight:bold;
 background:#6182b8;
 padding:5px;
 border-right:1px solid #FFFFFF;
}
#menu a:hover{ background:green; }

table { border: 1px solid #ccc; }

img { border: 0px ; }

table td {
 border: 1px solid #eee;
 padding: 3px;
}

#cabecalho { background: #eee; }
p { margin: 10px; }

.centro { text-align: center; }



.content{
MARGIN:100;
padding:5px;
width:50px;
height:2000px;
overflow:auto;}



